/* body */
body{
font-family: 'Roboto', sans-serif;

}

.link{
text-decoration:none;
}

.list{
list-style: none;
}


span{
color: #2196F3;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p{margin: 0;
padding: 0;
}


*{
    box-sizing: border-box;
}

*::before,
*::after{
    box-sizing: initial;
}
/*--header-section--*/

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
}


.header-nav {
    display: flex;
    align-items:center;
}

header{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ECECEC;
}

.header-section {
    display: flex;
}

.header-list {
 display: inline-block;
    margin-right:  50px;
    margin-left: auto;
    height: 16px;
}



.header-list:last-child{
    margin-right: 0px;
}


.header-contacts{
    display: flex;
    margin-left: auto;
}

.header-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
    display: flex;
    margin-right: 93px;
}


.header-list-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    position: relative;
}

.header-list-nav::after{
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    left: 0px;
    bottom:0px;
    top: 53px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-list-nav:hover::after,
.header-list-nav:focus::after{
    opacity: 1;
}

.contacts-link:focus,
.contacts-link:hover,
.header-list-nav:hover,
.header-list-nav:focus{
    color: #2196F3;
} 



.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
  
}




.header-icon-nav{
    width: 16px;
    height: 12px;
    fill: #757575;
    fill: currentColor;
    display: inline;
    margin-right: 10px;
}

.header-icon-img{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}




/*--main-sektion--*/

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    content: "";
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
     ),
    url(../images/img10.jpg);
    background-color:#2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: #FFFFFF;
}




.hero-btn{
    display: inline-block;
    align-items:center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 32px;
    margin-top: 30px;
    border: 0;
}




.subtitle{
    padding-top: 94px;
    padding-bottom: 94px;
}

.subtitle-list {
    display: flex; 
}

.subtitle-items{
    width: 270px;
    margin-right: 30px;

}

.subtitle-items:last-child{
    margin-right: 0px;
}

    



.subtitle-titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
}


.subtitle-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    margin-top: 10px;
}

.subtitle-icons{
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 25px;
    background-color: #F5F4FA;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.subtitle-icons-img{
    width: 70px;
    height: 70px;
}



/*--specialization--*/

.specialization{
    display: flex;
    padding-bottom: 94px;
}



.specialization-title,
.command-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.specialization-list{
    display: flex;
    margin-top: 50px;
}

 
.specialization-items{
    display: block;
    margin-right: 30px;
    width: 370px;
    
}

.specialization-items:last-child{
    margin-right: 0px auto;
}

.specialization-img{
    display: block;  
}


.specialization-items{
    position: relative;
    display: block;
}

.specialization-text{
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.801);
    color: #FFFFFF;


}



/*command*/

.command{
    background-color:  #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
    
.command-title{
    margin-bottom:  50px;
}

.command-list{
    display: flex;

}

.command-items{
    margin-right: 30px;

}

.command-items:last-child{
    margin-right: 0px;
}

.command-title-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    flex-wrap: wrap;
}
    
.command-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    margin-top: 10px;
}

.comand-img{
    display: block;
}

.command-box{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-top:  30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}



.command-box-svg{
    display: flex;
    width: 206px;
    height: 44px;
    margin: auto;
    margin-top: 16px;
   
}

.command-icon__link{
    display: block;
    width: 44px;
    padding: 12px 12px;
    border-radius: 100px 100px;
    margin-right: 10px;
    fill:#AFB1B8;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.command-icon {
    display: block;
    width: 20px;
    height: 20px;
}


.command-icon__link:focus,
.command-icon__link:hover{
    background-color: #2196F3;
   fill: #FFFFFF;
}




/*--clients--*/




.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.clients-list {
    display: flex;
}


.clients-list-items {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid#AFB1B8;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 30px;
    margin-top: 50px;
    fill: #AFB1B8;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.clients-icons {
    width: 106px;
    height: 60px;
} 

.clients-list-items:last-child{
    margin-right: 0px auto;
}

.clients-list-items:focus,
.clients-list-items:hover{
    border: 1px solid #2196F3;
    fill: #2196F3;
}




/*--footer-sektion--*/


.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.footer-list{
    margin-top:20px;
}

.footer-content{
    display: flex;
}


.footer-box{
width: 231px;
}    

.footer-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: block;
}

.footer-item-link-nav{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:#FFFFFF

}


.footer-item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #a6a6a6;
}

.footer-item{
    margin-bottom: 9px;
}


.footer-icon-box{
    width: 206px;
    height: 80px;
    margin-left: 70px;

}


.footer-text-icon{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
}


.footer-list-icon {
    display: flex;
    margin-top: 20px;
}

.footer-item-icon {
    display: block;
    width: 44px;
    padding: 12px;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    margin-right: 10px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    display: block;
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}


.footer-item-icon:hover,
.footer-item-icon:focus{
    background-color: #2196F3;
}


/*--portfolio-btn--*/


.portfolio-btn{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color:#F5F4FA;
    
    display: flex;
    padding: 6px 22px;
    border-radius: 4px;
    border-radius: 4px;
    border: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/*--portfolio--*/




.button-section{
padding-top: 94px;
padding-bottom: 94px;
}

.portfolio-list-btn{
display: flex;
margin-bottom: 50px;
justify-content: center;
}





.portfolio-btn:focus,
.portfolio-btn:hover{
background-color: #2196F3;
color: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}


.portfolio-items-btn{
display: flex;
margin-right: 8px;

}


.portfolio-list{
display: flex;
flex-wrap: wrap;
}

.portfolio-items {
 margin-right: 30px;
 margin-bottom: 30px;
 display: flex;
 flex-wrap: wrap;
 width:370px;
position: relative;
}
 
.portfolio-items-wrap{
position: relative;
overflow: hidden;
}

.portfolio-items:hover .portfolio-items-text{
    transform: translate(0);
}

.portfolio-items-text{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    background-color:  rgba(33, 149, 243, 0.904);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms linear;
}




.portfolio-items:hover,
.portfolio-items:focus{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.portfolio-items:nth-child(3n){
margin-right: 0px;
}

.portfolio-items:nth-last-child(-n+3){
margin-bottom: 0px;
}

.portfolio-img{
display: block; 
}

.border-list{  
padding: 20px 24px ;
border: 1px solid #EEEEEE;
border-top: 0px;
margin: 0px;
}

.portfolio-titel {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #2F303A;
display: flex;
}

.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color: #757575;
display: flex;
flex-wrap: wrap;
padding-top: 4px;
}


.backdrop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;

}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color:  #FFFFFF;
    border-radius: 4px;
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.button-modal{
 
    border-radius: 100px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
   
}